# Carpeta de salida de compilación
bin/
obj/

# Archivos de proyecto generados
*.apk
*.ap_
*.exe
*.dll

# Carpeta de dependencias de NuGet
packages/

# Carpeta de almacenamiento local de paquetes NuGet
.nuget/

# Carpeta de almacenamiento de paquetes de NuGet restaurados
packages/

# Carpeta de paquetes y dependencias de NPM
node_modules/

# Archivos de configuración local de Visual Studio
.vs/

# Archivos de configuración de Xamarin.Forms
*.userprefs
*.sln.dotsettings

# Archivos de configuración de Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
*.vspscc

# Archivos de registro
*.log
*.txt

# Archivos de caché
*.cache

# Archivos de salida del proceso de compilación
*.swp
*.swo

# Archivos de configuración de IIS Express
config/applicationhost.config
.vs/config/applicationhost.config

# Archivos de configuración de HTTP
*.http

# Otros archivos generados por el sistema operativo
.DS_Store
Thumbs.db